@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

.intro {
    max-width: 800px;
    margin: 0 auto;
}

.intro h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.intro p {
    font-size: 18px;
    line-height: 1.6;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #45a049;
}

.contact-info {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.address-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: left;
    margin: 0 auto;
}

.address-card h3 {
    margin-top: 0;
    font-size: 22px;
}

.address-card p {
    font-size: 16px;
    line-height: 1.6;
}

.address-card a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: .3s;
}

.address-card a:hover {
    color: #00529e;
}

.map-container {
    margin-top: 20px;
}

.map-container iframe {
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .intro h2,
    .address-card h3,
    .map-container h3 {
        font-size: 20px;
    }

    .intro p,
    .address-card p {
        font-size: 16px;
    }

    .cta-button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .map-container iframe {
        height: 200px;
    }
}
